@model IEnumerable<Artist>
@{
}
@if (Model != null && Model.Any())
{
    <table class="table table-hover table-responsive" style="color:black">
        <thead>
            <tr>
                <th>音乐人姓名</th>
                <th>音乐人Id</th>
                <th>音乐人介绍</th>
                <th>音乐流派</th>
                <th>音乐人专辑数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td title="@item.ArtistName">@UIHelper.Truncate(item.ArtistName, 30)</td>
                <td>@item.ArtistId</td>
                <td title="@item.Description">@UIHelper.Truncate(item.Description, 40)</td>
                <td title="@item.AristGenres">@item.AristGenres</td>
                <td>@item.AlbumNum</td>
                <td>
                    <a href="javaScript:;" role="button" title="编辑" onclick="layermodal('编辑音乐人','@Url.Action("_EditArtist","ControlPanel",new RouteValueDictionary { { "artistId",item.ArtistId} })','450px','500px')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a href="javaScript:;" role="button" title="删除" class="deleteArtist" data-artistid="@item.ArtistId"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row text-warning text-center wrapper">
        没有查询到流派数据
    </div>
}
<script>
    $('.deleteArtist').on('click', function () {
        var $this = $(this);
        layer.confirm("确定要删除么？",
            { btn: ["确定", "取消"], icon: 3 }, function () {
                var artistId = $this.data('artistid');
                $.post('@Url.Action("DeleteArtist","ControlPanel")', { artistId: artistId, t: (new Date()).valueOf() }, function (data) {
                    if (data.MessageType) {
                        layer.msg(data.MessageContent, { icon: 1 });
                        //异步刷新列表
                        $.get('@Url.Action("_ListArtists", "ControlPanel")', { t: (new Date()).valueOf() }, function (html) {
                            $('#_ListArtists').html(html);
                        });
                    }
                    else {
                        layer.msg(data.MessageContent, { icon: 2 });
                    }
                });
            });
    });
</script>